<!DOCTYPE html>
<style>
    table, th, td {
  border: 1px solid black;
  width:50%
}
</style>

<div id="question-section">
    {% for x in data %}
        {% if x[0].question_type == "MCQ" %}
        <table>
            Question:
            <b id="{{x[0].question}}">{{x[0].question}} ?</b>
            {% for row in x %}
                <tr>
                    <td id="{{x[0].question}}{{row.ans_opt}}{{row.idx}}">{{row.ans_opt}}</td>
                    <td><input type="radio" id="{{row.ans_opt}}{{row.idx}}" name="{{row.name}}"></td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

        {% if x[0].question_type == "One Word" %}
        {% for row in x %}<br>
        <b id="{{row.question}}">{{row.question}}</b>
        {{row.question}}{{row.one_word_ans}}
        <input id="NameAlex" type="text"><br><br>

        {% endfor %}
        {% endif %}
    {% endfor %}


      </body>
     
</div>

</html>